In [15]:
import pandas as pd


caminho_arquivo = 'C:/Users/moura/PAD_JOB/data_extracted/Dados-BigQuery-comentarios-traduzidos.csv'


dataset = pd.read_csv(caminho_arquivo)
display(dataset)

,int64_field_0,searchString,rank,isAdvertisement,title,price,categoryName,address,neighborhood,street,...,reviewsCount,scrapedAt,openingHours,peopleAlsoSearch,reviewsTags,additionalInfo,questionsAndAnswers,reviews,texto,texto_traduzido
0,335,bares,19,False,JOE'S Chopperia,NaN,Chop bar,"Avenida Milão Qd. 2, Lt. 5, Número: 1163 Celin...","Avenida Milão Qd. 2, Lt. 5, Número: 1163 Celin...","Avenida Milão Qd. 2, Lt. 5, Número: 1163 Celin...",...,1,2023-07-28 23:33:39.724000+00:00,"[{'day': 'sexta-feira', 'hours': '11:30 to 14:...","[{'category': 'As pessoas também pesquisaram',...",[],{'Da empresa': [{'Se identifica como uma empre...,NaN,"{'name': 'NATTHAN FOX', 'text': 'Top demais', ...",Top demais,Too top
1,471,bares,12,False,Bar e Lanchonete Cruzeiro - Setor novo horizonte,$$,Bar,"Av. César Lattes, 656 - Vila Novo Horizonte, G...","Av. César Lattes, 656","Av. César Lattes, 656",...,772,2023-07-28 23:58:29.022000+00:00,"[{'day': 'sexta-feira', 'hours': '10:00 to 00:...","[{'category': 'As pessoas também pesquisaram',...","[{'title': 'frango assado', 'count': 81}, {'ti...",{'Opções de serviço': [{'Entrega sem contato':...,{'question': 'Hj fiz um pedido nao foi nem 20 ...,"{'name': 'Natalice Liva', 'text': 'Minha exper...",Minha experiência no bar cruzeiro foi incrível...,"My experience at Bar Cruzeiro was amazing, the..."
2,471,bares,12,False,Bar e Lanchonete Cruzeiro - Setor novo horizonte,$$,Bar,"Av. César Lattes, 656 - Vila Novo Horizonte, G...","Av. César Lattes, 656","Av. César Lattes, 656",...,772,2023-07-28 23:58:29.022000+00:00,"[{'day': 'sexta-feira', 'hours': '10:00 to 00:...","[{'category': 'As pessoas também pesquisaram',...","[{'title': 'frango assado', 'count': 81}, {'ti...",{'Opções de serviço': [{'Entrega sem contato':...,{'question': 'Hj fiz um pedido nao foi nem 20 ...,"{'name': 'Karita Moreira', 'text': 'Minha expe...",Minha experiência foi com o caldo. Uma delícia...,"My experience was with the broth. A delight, v..."
3,471,bares,12,False,Bar e Lanchonete Cruzeiro - Setor novo horizonte,$$,Bar,"Av. César Lattes, 656 - Vila Novo Horizonte, G...","Av. César Lattes, 656","Av. César Lattes, 656",...,772,2023-07-28 23:58:29.022000+00:00,"[{'day': 'sexta-feira', 'hours': '10:00 to 00:...","[{'category': 'As pessoas também pesquisaram',...","[{'title': 'frango assado', 'count': 81}, {'ti...",{'Opções de serviço': [{'Entrega sem contato':...,{'question': 'Hj fiz um pedido nao foi nem 20 ...,"{'name': 'Iara Khabieva', 'text': 'Ambiente ab...","Ambiente aberto, passam bicicletas e pedestres...","Open environment, bicycles and pedestrians bet..."
4,471,bares,12,False,Bar e Lanchonete Cruzeiro - Setor novo horizonte,$$,Bar,"Av. César Lattes, 656 - Vila Novo Horizonte, G...","Av. César Lattes, 656","Av. César Lattes, 656",...,772,2023-07-28 23:58:29.022000+00:00,"[{'day': 'sexta-feira', 'hours': '10:00 to 00:...","[{'category': 'As pessoas também pesquisaram',...","[{'title': 'frango assado', 'count': 81}, {'ti...",{'Opções de serviço': [{'Entrega sem contato':...,{'question': 'Hj fiz um pedido nao foi nem 20 ...,"{'name': 'Cassia Mendes', 'text': 'O frango as...","O frango assado, o feijão tropeiro o melhor ai...","The roasted chicken, the tropeiro beans the be..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6860,222,bares,52,False,Boteco Raiz Marista,$,Bar,"Av. 85, 1829 - St. Marista, Goiânia - GO, 7416...","Av. 85, 1829","Av. 85, 1829",...,212,2023-07-28 23:18:13.691000+00:00,"[{'day': 'sexta-feira', 'hours': '17:00 to 04:...","[{'category': 'As pessoas também pesquisaram',...","[{'title': 'garçom', 'count': 16}, {'title': '...",{'Opções de serviço': [{'Mesas externas': True...,NaN,"{'name': 'KamiKazze3', 'text': 'tudo de bom, o...","tudo de bom, o meu escritorio","All the best, my office"
6861,222,bares,52,False,Boteco Raiz Marista,$,Bar,"Av. 85, 1829 - St. Marista, Goiânia - GO, 7416...","Av. 85, 1829","Av. 85, 1829",...,212,2023-07-28 23:18:13.691000+00:00,"[{'day': 'sexta-feira', 'hours': '17:00 to 04:...","[{'category': 'As pessoas também pesquisaram',...","[{'title': 'garçom', 'count': 16}, {'title': '...",{'Opções de serviço': [{'Mesas externas': True...,NaN,"{'name': 'Luciano Carlos', 'text': 'Atendiment...",Atendimento Top,Top service
6862,222,bares,52,False,Boteco Raiz Marista,$,Bar,"Av. 85, 1829 - St. Marista, Goiânia - GO, 7416...","Av. 85, 1829","Av. 85, 1829",...,212,2023-07-28 23:18:13.691000+00:00,"[{'day': 'sexta-feira', 'hours': '17:00 to 04:...","[{'category': 'As pessoas também pesquisaram',...","[{'title': 'garçom', 'count': 16}, {'title': '...",{'Opções de serviço': [{'Mesas externas': True...,NaN,"{'name': 'FOX BRAUSIM', 'text': 'Atendimento p...",Atendimento péssimo,Bad service
6863,222,bares,52,False,Boteco Raiz Marista,$,Bar,"Av. 85, 1829 - St. Marista, Goiânia - GO, 7416...","Av. 85, 1829","Av. 85, 1829",...,212,2023-07-28 23:18:13.691000+00:00,"[{'day': 'sexta-feira', 'hours': '17:00 to 04:...","[{'category': 'As pessoas também pesquisaram',...","[{'title': 'garçom', 'count': 16}, {'title': '...",{'Opções de serviço': [{'Mesas externas': True...,NaN,"{'name': 'Manoel Mauricio Carneiro Pereira', '...",Bom atendimento,Good service
6864,222,bares,52,False,Boteco Raiz Marista,$,Bar,"Av. 85, 1829 - St. Marista, Goiânia - GO, 7416...","Av. 85, 1829","Av. 85, 1829",...,212,2023-07-28 23:18:13.691000+00:00,"[{'day': 'sexta-feira', 'hours': '17:00 to 04:...","[{'category': 'As pessoas também pesquisaram',...","[{'title': 'garçom', 'count': 16}, {'title': '...",{'Opções de serviço': [{'Mesas externas': True...,NaN,"{'name': 'maria clara cardoso coelho', 'text':...",Great,Great

In [16]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6865 entries, 0 to 6864
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   int64_field_0        6865 non-null   int64
 1   searchString         6865 non-null   object
 2   rank                 6865 non-null   int64
 3   isAdvertisement      6865 non-null   bool
 4   title                6865 non-null   object
 5   price                5731 non-null   object
 6   categoryName         6865 non-null   object
 7   address              6865 non-null   object
 8   neighborhood         6824 non-null   object
 9   street               6824 non-null   object
 10  city                 6865 non-null   object
 11  postalCode           6790 non-null   object
 12  state                6865 non-null   object
 13  countryCode          6865 non-null   object
 14  phone                6095 non-null   object
 15  phoneUnformatted     6080 non-null   float64
 16  totalScore           6865 non-null   float64
 17  permanentlyClosed    6865 non-null   bool
 18  temporarilyClosed    6865 non-null   bool
 19  placeId              6865 non-null   object
 20  categories           6865 non-null   object
 21  reviewsCount         6865 non-null   int64
 22  scrapedAt            6865 non-null   object
 23  openingHours         6865 non-null   object
 24  peopleAlsoSearch     6865 non-null   object
 25  reviewsTags          6865 non-null   object
 26  additionalInfo       6865 non-null   object
 27  questionsAndAnswers  3919 non-null   object
 28  reviews              6865 non-null   object
 29  texto                6865 non-null   object
 30  texto_traduzido      6865 non-null   object
dtypes: bool(3), float64(2), int64(3), object(23)
memory usage: 1.5+ MB

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

# Extracting the target labels
target_labels = dataset['totalScore']
target_labels_categorized = target_labels.apply(lambda x: 'positivo' if x >= 4 else 'negativo')

In [18]:
train_x_vector, test_x_vector, train_y, test_y = train_test_split(text_vector, target_labels_categorized, test_size=0.2, random_state=42)

In [19]:
svc = SVC(kernel='linear')
svc.fit(train_x_vector, train_y)

SVC(kernel='linear')

In [20]:
predictions = svc.predict(text_vector)
dataset['predictions_categorized'] = predictions

In [21]:
# Using the trained model to make predictions on the entire vectorized text column
predictions_categorized = svc_categorized.predict(text_vector)

# Adding the categorized predictions as a new column to the dataset
dataset['predictions_categorized'] = predictions_categorized

# Displaying the first few rows of the updated dataset with the new categorized predictions column
dataset[['texto', 'totalScore', 'predictions_categorized']].head()

,texto,totalScore,predictions_categorized
0,Top demais,5.0,positivo
1,Minha experiência no bar cruzeiro foi incrível...,4.3,positivo
2,Minha experiência foi com o caldo. Uma delícia...,4.3,positivo
3,"Ambiente aberto, passam bicicletas e pedestres...",4.3,positivo
4,"O frango assado, o feijão tropeiro o melhor ai...",4.3,positivo

In [25]:
#dataset.to_csv('Dados-SVC.csv', index=False)

In [22]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6865 entries, 0 to 6864
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   int64_field_0            6865 non-null   int64
 1   searchString             6865 non-null   object
 2   rank                     6865 non-null   int64
 3   isAdvertisement          6865 non-null   bool
 4   title                    6865 non-null   object
 5   price                    5731 non-null   object
 6   categoryName             6865 non-null   object
 7   address                  6865 non-null   object
 8   neighborhood             6824 non-null   object
 9   street                   6824 non-null   object
 10  city                     6865 non-null   object
 11  postalCode               6790 non-null   object
 12  state                    6865 non-null   object
 13  countryCode              6865 non-null   object
 14  phone                    6095 non-null   object
 15  phoneUnformatted         6080 non-null   float64
 16  totalScore               6865 non-null   float64
 17  permanentlyClosed        6865 non-null   bool
 18  temporarilyClosed        6865 non-null   bool
 19  placeId                  6865 non-null   object
 20  categories               6865 non-null   object
 21  reviewsCount             6865 non-null   int64
 22  scrapedAt                6865 non-null   object
 23  openingHours             6865 non-null   object
 24  peopleAlsoSearch         6865 non-null   object
 25  reviewsTags              6865 non-null   object
 26  additionalInfo           6865 non-null   object
 27  questionsAndAnswers      3919 non-null   object
 28  reviews                  6865 non-null   object
 29  texto                    6865 non-null   object
 30  texto_traduzido          6865 non-null   object
 31  predictions_categorized  6865 non-null   object
dtypes: bool(3), float64(2), int64(3), object(24)
memory usage: 1.5+ MB

Acurácia

In [23]:
accuracy_categorized = svc_categorized.score(test_x_vector_categorized, test_y_categorized)
accuracy_categorized

0.9927166788055353

In [24]:
from sklearn.metrics import f1_score

# Making predictions on the test set
test_predictions_categorized = svc_categorized.predict(test_x_vector_categorized)

# Calculating the F1 Score for the test predictions
f1_score_categorized = f1_score(test_y_categorized, test_predictions_categorized, pos_label='positivo')
f1_score_categorized

0.9963450292397661