In [2]:
import pandas as pd

file_path = 'C:/Users/moura/PAD_JOB/model/TextBlob/dataset-analiseSentimento.csv'
dataset = pd.read_csv(file_path)

dataset.head()

,COMERCIO,COMENTÁRIO,DATA,AVALIACAO,SETOR,TextBlob,texto_traduzido
0,Nova Opção de Bilhar,"Ambiente agradável, arejado e ventilado, atend...",27/062023,4,Leste universitário,0.217500,"Nice, airy and ventilated environment, service..."
1,Nova Opção de Bilhar,O atendimento e ruim o dono e homofobico racis...,2019-06-24 00:00:00,1,Leste universitário,-0.500000,The service is bad the owner and racist and ru...
2,Nova Opção de Bilhar,"Lugar agradável, ambiente bom para encontrar c...",2023-04-05 00:00:00,3,Leste universitário,0.425000,"Nice place, good environment to meet friends, ..."
3,Nova Opção de Bilhar,Melhor lugar do mundo! Mais conhecido por mim ...,2023-01-15 00:00:00,5,Leste universitário,0.483333,Best place in the world! Better known for me a...
4,Nova Opção de Bilhar,Amei pagar 13$ na Antártica Litrão. Ficou até ...,2023-06-26 00:00:00,5,Leste universitário,0.750000,I loved to pay 13 $ in Antarctica Litrão. It w...

In [ ]:
from sklearn.model_selection import train_test_split

X = dataset["COMENTÁRIO"]
y = dataset["AVALIACAO"]

# Dividindo os dados em conjuntos de treinamento e teste (80/20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

len(X_train), len(X_test)