In [1]:
import pandas as pd

file_path = 'C:/Users/moura/PAD_JOB/data_extracted/New-dataset-SVCpredictions.csv'
dataset = pd.read_csv(file_path)


dataset.head()

,title,text,stars,likesCount,reviewerPhotoUrl,publishedAtDate,name,predictions
0,BOB'S,Shake e Sunday aguados. Horrível. Não recomendo.,negative,1,https://lh3.googleusercontent.com/a-/AD_cMMRso...,2021-04-03 20:10:01.702000+00:00,Sílvio Brito,negative
1,BOB'S,Credo!,negative,0,https://lh3.googleusercontent.com/a-/AD_cMMS7i...,2019-05-25 21:11:05.280000+00:00,Tiago de Bem,negative
2,BOB'S,"Desorganizado, pedido veio errado",negative,0,https://lh3.googleusercontent.com/a-/AD_cMMQP2...,2020-02-15 23:29:17.166000+00:00,paulo aecio alves,negative
3,BOB'S,Atendimento péssimo,negative,0,https://lh3.googleusercontent.com/a-/AD_cMMSwu...,2018-10-18 10:25:35.416000+00:00,Eryka Ferreira Menezes de Paula,negative
4,BOB'S,"Todos atendentes de mal humor e sem educação, ...",negative,2,https://lh3.googleusercontent.com/a-/AD_cMMS_z...,2022-01-15 18:37:15.511000+00:00,João Benuto,negative

In [4]:
# Grouping the dataset by the establishment title and counting the number of positive and negative predictions
grouped_data = dataset.groupby(['title', 'predictions']).size().reset_index(name='count')

# Pivoting the grouped data to have positive and negative counts as columns
pivot_data = grouped_data.pivot_table(index='title', columns='predictions', values='count', fill_value=0).reset_index()

# Renaming the columns for better understanding
pivot_data.columns = ['Estabelecimento', 'Negativas', 'Positivas']

# Sorting by the number of positive reviews for better visualization
pivot_data = pivot_data.sort_values(by='Positivas', ascending=False)

# Displaying the result
pivot_data.head()

               Estabelecimento  Negativas  Positivas
281  Júnior Cozinha Brasileira        641       4513
385  Outback Passeio das Águas        508       2110
350                 Mau Nenhum        375       1629
114        Carne de Sol do Edu        441       1557
298    Labodeguita Restaurante        250       1498

In [7]:
# Checking the unique values in the predictions_categorized column
unique_predictions = dataset['predictions'].unique()
unique_predictions

array(['negative', 'positive'], dtype=object)